#submit{
    margin-left: 200px;
}
#body{
    margin-left: 50px;
}
input{
    border-top: 5px;
    border-color: black;
    border-right: 5px;
    border-left: 5px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    outline: none;
}
#counter{
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    margin-left: 160px;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.scores{
    margin-bottom: 30px;
    flex-direction: row;
    text-align: center;
    
}
img{
    height:22px;
    justify-content: center;
}
#label-high{
    padding-left: 70px;
}
#highScore{
    font-weight: normal;
    font-size: initial;
    transition: all 100ms ease-in-out;
}
#stopRestart{
    flex-direction: row;
}
/* @media (min-width: 450px) {
    #middleBody{
    padding-left: 140px;
    }
} */
#body{
    display: flex;
    justify-content: center;
}
#middleBody{
    /* text-align: center; */
    padding-left: 150px;
    display: inline-block;
}
.newGame{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#newGame{
    width: 500px;
}
#playerMode{
    
    width: fit-content;
    margin-left:80px ;
}
#formNdPlayers{
    flex-direction: row;
    justify-content: center;
    
}


